{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon">
    </head>
    <body>
    <div id="wrapper">
        <header id="header">
            <div id="logo">
                <img src="{% static 'logo.png' %}" alt="Ghost Nets" height="40">
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/timelines">Timelines</a></li>
                    <li><a href="/ethics">Ethics</a></li>
                    <li><a href="/regulations">Regulations</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/references">References</a></li>
                    <li><a href="/extra-info">Extra Information</a></li>
                </ul>
            </nav>
        </header>
        <section id="main">
            {% block main_content %}
            <h1>{{ title }}</h1>
            {% autoescape off %}
            <p>{{ content }}</p>
            {% endautoescape %}
            {% endblock main_content %}
        </section>
        <footer id="footer">Copyright &copy; 2026</footer>
    </div>
    </body>
</html>